/* Общие стили и фон */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f7f8;
    color: #333;
}

/* Заголовок */
header {
    background: #004580;
    background: rgb(0,69,128);
    background: linear-gradient(90deg, rgba(0,69,128,1) 0%, rgba(0,91,170,1) 50%);
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Абзацы информации о рейсе */
h3 {
    font-size: 1.1rem;
    margin: 5px 0 15px;
    text-align: center;
}

form {
    text-align: center;
}

/* Сетка мест */
.seat-grid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Отдельное место */
.seat {
    background-color: #cce0ff;
    border: 2px solid #3399ff;
    border-radius: 5px;
    color: #003366;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, border-color 0.3s;
}

    /* При наведении */
    .seat:hover {
        background-color: #3399ff;
        color: #fff;
        border-color: #003366;
    }

    /* Активное выбранное место - класс например "selected" */
    .seat.selected {
        background-color: #5bc0de;
        color: white;
    }

    .seat.reserved {
        background-color: gray; /* Измените на нужный цвет */
        cursor: not-allowed; /* Изменяем курсор */
    }

    .seat.disabled {
        pointer-events: none; /* Отключаем события мыши */
    }

/* Кнопки */
button {
    background-color: #005baa;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #003d80;
    }

/* Футер */
footer.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Подвал как приклеенный */
    bottom: 0; /* Фиксация снизу */
    left: 0; /* К началу слева */
    right: 0; /* Без отступов справа */
    height: 50px; /* Задаем высоту */
}
