@{
    ViewData["Title"] = "Панель логиста";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ПассажирскийПуть</title>
</head>
<body>
    <header>Панель логиста</header>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <main>
        <nav>
            <ul>
                <li><a href="#">Водители</a></li>
                <li><a href="#">Автобусы</a></li>
                <li><a href="#">Рейсы</a></li>
                <li><a href="#">Маршруты</a></li>
                <li><a href="#">Расписание</a></li>
            </ul>
        </nav>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ПассажирскийПуть - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>