@model Company.Models.Passengers

@{

    ViewData["Title"] = "Купить билет";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Buy.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>Покупка билета</header>
    <main>
      <h3>Введите паспортные данные</h3>
      <hr />
        <form asp-action="PassportData" asp-controller="Flight" method="post">
            <input type="hidden" name="id" value="@ViewBag.Id" />
            <input type="hidden" name="seatNumber" value="@ViewBag.SeatNumber" />
            <div>
                <label for="passport_number">Номер паспорта:</label><br>
                <input type="text" id="passport_number" name="passport_number"><br><br>
            </div>
            <div>
                <label for="passport_series">Серия паспорта:</label><br>
                <input type="text" id="passport_series" name="passport_series"><br><br>
            </div>
            <div>
                <label for="date_of_birth">Дата получения:</label><br>
                <input type="date" id="date_of_birth" name="date_of_birth"><br><br>
            </div>

            <button type="submit" class="btn btn-success">Перейти к оплате</button>
        </form>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ПассажирскийПуть - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
<script src="~/js/buyTicket.js"></script>
</html>
