@model Company.Models.Drivers;
@{
    ViewData["Title"] = "Добавление";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>ПассажирскийПуть</title>
    <style>
        footer {
            text-align: center;
            font-size: 0.9rem;
            color: #777;
            padding: 10px 0;
            text-align: center;
            position: fixed; /* Подвал как приклеенный */
            bottom: 0; /* Фиксация снизу */
            left: 0; /* К началу слева */
            right: 0; /* Без отступов справа */
            height: 50px; /* Задаем высоту */
        }
    </style>
</head>
<body>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <div class="container mt-4">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="EditDriver" method="post">
            <input type="hidden" asp-for="id" />
            <div class="mb-3">
                <label asp-for="firstName">Фамилия:</label>
                <input asp-for="firstName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="lastName">Имя:</label>
                <input asp-for="lastName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="patronymic">Отчество:</label>
                <input asp-for="patronymic" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="driverLicense">Номер водительского удостоверения:</label>
                <input asp-for="driverLicense" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="contactInformation">Контактная информация(номер телефона):</label>
                <input asp-for="contactInformation" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="status">Статус:</label>
                <input asp-for="status" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ПассажирскийПуть - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>